main {
flex: 1;
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
}

@media (max-width: 650px) {
  main ul {
  grid-template-columns: 1fr;
 }
}

li.car-item {
  background: #FFF;
  box-shadow: 0 0 14px 0 rgba(0,0,0, 0.02);
  padding: 5px;
}

li.car-item header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.car-item header .car-info {
  margin-left: 10px;
}

.car-info strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.car-info span {
  font-size: 13px;
  color: #333;
  top: 10px;
}

ul li button {
  position: relative;
  left: 340px;
  bottom: 110px;
  border: 0;
  background: #fff;
  cursor: pointer;
  margin: 0,0,0,0;
}

